<button (click)="goBack()" >go back</button>
<div *ngIf="course" >
  <h2>  {{course.name | uppercase}} Course Details  </h2>
  <div> 
    <span>
      id:
  
    </span>
    {{course.id}}
     </div>
     <div>
       <label>
         name:
  
         <input [(ngModel)]="course.name" placeholder="name" />
  
       </label>
       
     </div>
     <div>
       <span>
         author:
       </span>
       {{course.author}}
       <div >
       <ul>
         <li *ngFor= "let courselist of course.courselist; let i = index " >
            {{courselist.name}}
            {{courselist.id}}
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src={{courselist.link}} allowfullscreen></iframe>
            </div>
            
         </li>
       </ul>
      </div>
     </div>
    </div>